---
interface Props {
  size?: number;
  key: string;
  href?: string;
}

const { size = 32, key, href } = Astro.props;
---

{
  href ? (
    <a {href}>
      <img height={size} width={size} src={`https://cdn.simpleicons.org/${key}`} />
    </a>
  ) : (
    <img height={size} width={size} src={`https://cdn.simpleicons.org/${key}`} />
  )
}
